/* nav.css */

nav {
    background-color: #007BFF; /* Background color for the navigation bar */
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Make the list items display in a row */
}

li {
    margin: 0;
    padding: 0 20px; /* Adjust the spacing between list items */
    border-right: 1px solid #FFFFFF; /* Add a border to the right of each list item */
}

/* Remove the border from the last list item */
li:last-child {
    border-right: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}
