ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: #E53935;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  #projects {
    border-radius: 5px;
    padding: 5px 8px;
    border: 1px solid #E53935;
    position: relative; 
  }
  
  
  #projects a {
    color: #E53935;
    display: block; 
    padding: 0.5px; 
  }
  
  
  #home,
  #about,
  #reflection,
  #contact {
    border-radius: 5px;
    padding: 5px 8px;
  }
  
  #home,
  #about,
  #reflection,
  #contact {
    border: 1px solid #E53935;
  }
  
  
  #home a,
  #about a,
  #reflection a,
  #contact a {
    color: #E53935;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #007BFF;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0; 
  height: calc(100vh - 50px);
  width: 100%;
  background-color: #007BFF; 
  padding: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  z-index: 1; 
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
    display: flex; 
    align-items: center; 
  }

  .mobile-menu li a {
    display: block;
    background-color: white; 
    color: #E53935;
    text-decoration: none;
    padding: 10px; 
    border-radius: 5px; 
  }
   
  
  @media only screen and (max-width: 780px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }
  
.dropdown-menu li {
    display: none;
  }

  .dropdown-menu li a {
    display: block;
    background-color: white;
    border: 1px solid #E53935;
    border-radius: 5px;
    color: #E53935;
    text-decoration: none;
    padding: 5px;
    margin: 5px 0;
  }
  
  
 
  .dropdown:hover .dropdown-menu li {
    display: block; 
  }
  .dropdown-menu {
    position: absolute;
    top: 100%; 
    left: 0;
    display: none; 
  }

  .mobile-menu li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  
  .dropdown:hover .dropdown-menu {
    display: block; 
  }

  

