@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: #575555;
    color: white;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
  }

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: white;
  text-align: center;
  padding: 10px; /* Reduce the padding for spacing */
  color: #E53935;
  max-width: 90%; /* Set a maximum width for the footer */
  margin: 0 auto; /* Center the footer horizontally */
}


footer {
    margin-top: auto; /* Push the footer to the bottom */
  }

footer img {
    transition: transform 0.2s; /* Add a smooth transition effect */
  }
  
  /* Scale up the images on hover */
footer img:hover {
    transform: scale(1.2); /* Adjust the scale factor as needed */
  }

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #E53935;
}

.grid-container {
    display: grid;
    justify-content: center; 
  }
  
  .centered-text {
    font-weight: bold; 
    text-align: center; 
  }
  
  
  .main-content p {
    margin: 10px 0; 
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}


.left-column {
    background-color: #575555;
    padding: 20px;
    color: white;
    text-align: center;
}


.column {
    text-align: center;
    background-color: #575555;
    padding: 20px;
    color: white;
}

@media screen and (max-width: 768px) {
    main {
        display: block; /* Switch to one column */
    }

    .left-column,
    .column {
        grid-column: auto; /* Reset column layout */
        text-align: center; /* Center align the content */
        padding: 20px;
        background-color: #575555;
        color: white;
    }
}

.larger-text {
    font-size: 28px; /* Adjust the font size as needed */
}

.ftc {
    max-width: 100%; /* Make the image fit the container width */
    height: auto; /* Maintain the image's aspect ratio */

}

.larger-header {
    font-size: 24px; /* Adjust the font size as needed */
}

body {
  font-family: Arial, sans-serif;
}
form {
  max-width: 400px;
  margin: 0 auto;
}
label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}
input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

